.about{

    &_photo{
        overflow: hidden;
    }
    &_contact{
        display: flex;
    
        &-num{
            flex-direction: column;
        }
    }
    &_column{
        text-align: center;
        color:rgba(220,220,220,0.5) ;
        padding: 25px;
        background:linear-gradient(to right, black 85%,transparent) ;
        height: 94%;
        width: 40%;
    
    }
    &_header{
        position: absolute;
        left: 45%;
        color: white;
    }
    &_text{
        padding-left:75px;
        padding-right:75px;
        padding-bottom:25px;
        color: white;
        line-height: 2;
        font-size: 20px;
    }



}



.icons{
    font-size: 25px;
   
    text-transform: uppercase;
    
}



@media only screen and (max-width:760px){
    .about{
        flex-direction: column;
    
        &_column{
            width: 100%;
            left:0;
            background: linear-gradient(to bottom, black 85%, transparent);
        }
    
    }

    
.icons{
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;

}

}