body{
    background:#020218e6;
    
}
.card{
     height: 100%;
    // background: linear-gradient(to right , rgba(0,0,0,0.25)30%,rgba(005,255,255,0.25)65%, rgba(0,0,0,0.25));
    // top: 30%;
    margin: 0 auto;
    position: relative;


}



@media only screen and (max-width:760px){
    .card{
        // height: 200vh;


        &_projects{
            // height: 425vh;
        }
    }
}