.card{
    height: 100vh;
    
    top: 30%;
    margin: 0 auto;
    background:rgba(3,3,125,0.5);
    position: relative;   
}

.resume{
    display: flex;
    justify-content: center;
    align-items:center;
}