.footer{
    height: 250px;
    background: linear-gradient(45deg,black,#300);
    position: relative;
    bottom:-750px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
}
