
.projects{
    display: flex;
    position: relative;
    background:white;
    color: white;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    top: -12rem;


    &_header{

        color: white;
        font-size: 25px;
    }

    &_desc{
        width: 95%;
        align-items: center;
        color: black;
        position: relative;
        text-transform: uppercase;
        text-align: center;
    }

        &_tech{
            display: flex;
            font-size: 1.3rem;
            text-decoration: none;
            color: #777;
            margin-left: .2rem;
        }
    

    
    &_photo{
        height:40%;
        width: auto;        
        position: relative;
    }
    &_title{
        height: 10%;
        position: relative;
        top: 5%;
        width: 50%;
        text-align:center;
        text-decoration: none;
        color: #777;
        left: 24.5%;

    }

    &_container{
        position: relative;
        height: 80%;
        width: auto;
        margin: 3rem;
        border-radius: 3%;
        border: 5px solid #fef


    }

    &_button{
        height: 25px;
        width: 60px;
        background: transparent;
        color: white;
        border: 1px dotted white;
        position: relative;
        bottom: 5%;
        left: 40%;
    }





}


a{

    text-decoration: none;
}


@media only screen and (max-width:760px){
    .projects{


      

        &_container{
            position: relative;
            left: 0;
            top: 25%;
            // height:500px;
        }
 

        &_mobile{
            left:0
        }


        
    &_hoh{
        top:16%
    }
    &_brawndo{
        top:54%;
    ;
    }

    &_deepvibes{
        top:44%
    }
    
    &_daburger{
        top:10%
    }
    &_codequiz{
        top:16%
    }
    &_dailyplanner{
        top:54%
    }

    }

    

}