.contact{
    top:-13.8rem;
    position: relative;
    height: 100vh;
    background: red;
    &_header{
        position: absolute;
        left: 46%;
        top: -15%;
        color: white;

    }
}


.input{


    height: 3rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 1.2rem auto;
    z-index: 10;
    position: relative;
    &_submit{
        color:red;
        font-size: 1.5rem;
        background: transparent;
        border: 1px solid white;
        cursor: pointer;
        width: 9rem;
        text-align: center;
        justify-content: center;
        background: white;


    }

    &_label{
        display:block;
        color: white;
        text-align: center;
        margin: auto 0;        
    }
    &_name{
        width: 15rem;

    }
    &_email{
        width: 15rem;

    }
    &_textarea{
    width: 40rem;
    height: 15rem;;

    }

}


@media only screen and (max-width:768px){
    .contact{
        height: 100%;
        scroll-snap-align: start;
    
        &_form{
            height: 100vh;
            width: 100vw;
            
        }
        &_header{
            position: absolute;
            top: 7% !important;
            left: 15% !important;
            font-size: 2rem;
        }
    }

    .input{
        width: 90%;
        font-size: 2rem;

        &_textarea{

            position: absolute;
            top: 50% !important;
            left: 5% !important;
            &-label{
                left: -5% !important;
    
            }
        }


        &_name{
            position: absolute;
            top: 25% !important;
            left: 5% !important;
        
        }
        &_email{
            position: absolute;
            top: 37.5% !important;
            left: 5% !important;
        
        }
        &_submit{
            position: absolute;
            top: 85% !important;
            left: 5% !important;
        
            
        }

    }
}
