.contact{
    &_header{
        position: absolute;
        left: 45%;
        top: -5%;
        color: white;
    }
}


.input{


    height: 100%;
    width: 100%;

    &-submit{
        color:white;
        background: transparent;
        border: 1px solid white;
        cursor: pointer;
        
        &:active{
            background:white;
            color:green;
        }
    }

    &_label{
        color: white;
        
    }

}

