.puzzle{
    // background:white;
    height: 100%;
    width: 100%;
    position: relative;

 

    &_a{
        background: linear-gradient(to bottom, pink, orange );
        top: -3.2rem;
        &_piece{
        
            left:44.9%;
            &-one{
                top:114.1rem;
                left: 45.5%;
            }
            &-two{
                top:106.8rem;
                left: 15.29%;

            }
        }
    }
    &_b{
        background: linear-gradient( to bottom, orange, pink);
        bottom: 3.5rem;
        &_piece{
            position: absolute;
            
            &-one{
                top: 130.43rem;
                left: 68%;
    
            }
            &-two{
                top: 127.1rem;
                left: 39.8%;
    
            }
            &-three{
                top: 159.8rem;
                left: 29.8%;
    
            }
            &-four{
                top: 131.3rem;
                left: 31.9%;  
            }
        }
    }
    &_c{
        height: 50vh;
        top: -12rem;
        width: 100vw;
        background: linear-gradient(to bottom, orange,pink);
        &_piece{

            &-one{

                top: 242.655rem;
                left: -2.86rem;
                
            }
            &-two{

                top: 243.7rem;
                left: 56.6%;


            }
            &-three{

                top: 242.58rem;
                left: 12%;


            }
        }
    }
    &_d{
        position: relative;
        background: linear-gradient(to bottom, pink, orange );
        top:-13rem ;
        &_piece{
        
            &-one{

                
                top:256.6rem;
                left: 28.5%;


            }
            &-two{

                

            top:418rem;
            left: 56%;

            }
            &-three{

                


                top:420rem;
                left: 30%;

            }
            &-four{

                


                top:427rem;
                left: 20.8%;

            }
        }
    }

    &_e{
        top: 2.2rem;
        position: relative;
        background: linear-gradient(to top, red, orange );
        height: 100vh;
        width: 100vw;
        &_piece{
            top: 63.7%;
            left: 31.65%;
            
        }
    }
    &_f{
        width: 100vw;
        height: 50vh;
        top: -20rem;
        position: relative;
        background: linear-gradient(to top, orange, red );
        left:-5px;
        &_piece{
            top: 424rem;
            left: 70%;
            transform: rotateZ(45deg);

        }
    }
    &_g{
        top:-13.5rem;
        position: relative;
        background: linear-gradient(to top, red, orange );
        &_piece{
            &-one{
                top: 320rem;

                left: 20.5%;

            }
            &-two{
                top: 325rem;

                left: 25.6%;
            }
            &-three{
                top: 320rem;

                left: 30.6%;
            }
            &-four{
                top: 320rem;

                left: 75%;
            }


        }
    }



    &_piece{
        background: transparent;
        z-index: 52;
        position: absolute;
        height: 29vh;
        width: 22vw;
        // border: 1px solid green;
    }
}