.tile{
    height: 150px;
    width: 150px;
    background: green;
    position: absolute;
    transition:all .5s;
    border-radius: 5%;
    &:hover{
        height:300px;
        width: 200px;
        

    }
}



.apples{
    left:7%
}
.grapes{
    left: 63%
}
.oranges{
    left:18%
}
.limes{
    left:33%
}
.lemons{
    left:48%
}
.bananas{
    left:75%
}