.tile{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
   bottom:0;
    transition:all .5s;
    // box-shadow: 0 0 1rem black;

    &_resume{
        text-align: center;
        width: 80%;
        height:80%;
    }
    &_about-content{
        // flex-direction: column;
        width: 60%;
        height:80%;
        right:5%;
    

    }
    &_about-photo{
        width: 20%;
        height:20%;
        left: 8%;
        top: 15%;
        border:1px solid red
    }
    &_contact{
        width: 60%;
        height:80%;
        right:5%;
        bottom:25%;
        border:1px solid white;
        background: linear-gradient(to right,transparent,olive);


        &-name{
            top:20%;
        }

        &-email{
            bottom:55%;
        }
        &-submit{
            font-size: 25px;
            height: 35px;
            width: 60px;
            bottom: 5%;

        }

        &-name, &-email{
            width: 40%;
            height: 10%;
        }
        &-name, &-email, &-textarea{
            flex-direction: column;
        }

        &-textarea{
            width: 60%;
            height: 30%;
            bottom: 15%;
        }

    }
}



@media only screen and (max-width:760px) {
    .tile{

        width: 100%;



        &_about-content{
            flex-direction: column;
            width: 100%;
            top: 30%;
            left: 0;
            top: 35%;
        }
        &_about-photo{
            : 90%;
            left: 5%;
            top: 10%;
        }


        &_contact{
            width: 100%;
            left: 0;
        
            &-name{
                top: -10%;
            }
            &-email {
                top: -5%;
            }
        
        
            &-name,&-email,&-textarea{
                width: 100%;
            }


            &-name,&-email{
                height: 10%;
            }

            &-submit{
                font-size: 35px;
                height: 55px;
                width: 90px;
                bottom: 5%;
    
            }

        }


        &_resume{

            width:110%;

        }


    }


}

